*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(182, 182, 182);
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(182, 182, 182);
    margin: 0;
    padding: 0;
}

section{
    background-color: rgb(182, 182, 182);
}

.row{
    background: white;
    border-radius: 30px;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 3%;
    padding-right: 3%;
}

img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-color: rgb(182, 182, 182);;
}

.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 13px;
    margin-bottom: 5px;
}

.btn1:hover{
    background: white;
    border: 1px solid;
    color: black;
}